<!DOCTYPE html>
<html>
<head>
  <title>Goofy Ball - Have a Goofy Time</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Goofy Balls for all Y'alls</h1>

	<ul>
		<li>
			<a href="/">home</a>
		</li>
		<li>
			<a href="/buy">buy</a>
		</li>
		<li>
			<a href="/return">return</a>
		</li>
	</ul>

<%= yield %>

</body>
</html>
